<div style="padding: 30px ">
<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ean</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>4711081355649</td>
            <td>Computador Portátil Gamer ROG Strix G17 17.3" Pulgadas G713IH- AMD Ryzen 7 - 16GB RAM - Disco Estado Sólido 512GB -
            Negro</td>
            <td>5.499.000</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>8806092056046</td>
            <td>TV SAMSUNG 65" Pulgadas 165.1 cm 65AU8000 4K-UHD LED Plano Smart TV</td>
            <td>$2.999.900 </td>
        </tr>
       
    </tbody>
</table>
</div>